:coffeescript
  window.app = 
    initialize: ()->
      @bindEvents()
      @video = $('video')[0]
      @scratch = $('#scratch')[0]
      @ctx = $('#scratch')[0].getContext('2d')
      @ws = new WebStorage()
      if not @ws.includes('snap')
        @ws.set('snap', 0)
    bindEvents: ()->
      scope = this
      $("#capture").click ()->
        scope.snap()
      @canvasInit()
    canvasInit: ()->
      navigator.getUserMedia video: {
            optional: [
              {minWidth: 320}
              {minWidth: 640}
              {minWidth: 1024}
              {minWidth: 1280}
              {minWidth: 1920}
              {minWidth: 2560}
            ]
          }, (stream)->
        video = $("video")[0]
        video.src = if url then url.createObjectURL(stream) else stream
        $(video).on "loadeddata", ()->
          $('#scratch').attr
            width: video.videoWidth
            height: video.videoHeight
        $("video")[0].play()      
      ,(err)->
        console.log "ERROR", err 
      url = window.URL or window.webkitURL
    snap: ()->
      scope = this
      @ctx.drawImage(@video, 0, 0, @scratch.width, @scratch.height)
      
      # b64jpeg = @scratch.toDataURL('image/jpg', 0, 0)
      
      @scratch.toBlob (blob)->
        i = parseInt(scope.ws.get('snap'))
        console.log i
        saveAs(blob, "Snapshot" +  i)
        scope.ws.set('snap', i + 1)
  
          
      
  window.playSound = (name)->
    $("#" + name).mousedown()
    _.delay (()-> $("#" + name).mouseup()), 400
      
  $ ->    
    app.initialize()
    _.each $('.audio-btn'), (btn)->
      btn = $(btn)
      btn.easyAudioEffects
        # ogg : "/audio/"+$(btn).attr('id')+".ogg",
        mp3 : "/audio/"+$(btn).attr('file')+".wav"
        eventType : "click"
        playType : "oneShotPolyphonic"
    $('#capture').click ()->
      playSound("Triangle")
      


#conversion      
  %video
#controls
  %button.btn.btn-primary#capture
    = glyph "camera"
    CAPTURE
  - @sounds.each do |s|
    %button.audio-btn{id: s.gsub(" ", "-"), file: s}
      = s

%canvas#scratch



  
:scss
  #scratch{
    display: none; 
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100000;
    border: 1px solid red;

  }
  .audio-btn{
    display:none;
    z-index: 100;
  }
  $borderColor: #D3D3D3;
  $arrowColor: #7A7A7A;
  $subtleText: #80858B;

  $activeBackground: #4573B9;
  $activeText: #FFFFFF;
  $activeSubtleText: #C5C5C5;
  $activeArrowColor: #DDDDDD;
  
  $error: desaturate(#eb3941, 10%);
  $errorBorder: darken(#eb3941, 20%);
  $success: darken(#dff0d8, 30%);
  $successText: white;

  $formBlue: #3883fa;
  $panelBackground: #F5F5F5;
  $hoverText: #ECF1FA;
  $eggshell: rgb(245, 244, 240);


  html, body{
    width: 100%; 
    height: 100%;
    overflow: hidden;
  }
  #conversion{
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: nowrap column;
    justify-content: center;
    align-items: center;
    video{
      width: auto;
      height: auto;
    }
  }
  #controls{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    height: 100%;
    display: flex;
    flex-flow: wrap row;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 15px;
  }
  .canvas-container{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    canvas{
      width: 100%;
      height: 100%;
      cursor: pointer;
    }
    #zoom{
      position: absolute;
      top: 15px;
      right: 15px;
    }
  }
  
  

 
 


  
  
