.ui.bottom.attached.tab.segment{"data-tab" => "motifs"}
  %h1.ui.header Motifs
  .ui.link.cards
    .card
      .image
        %img{src: "/guide/motifs/reveal.jpg"}
      .content
        .header Revealing
        .meta
          %a Hide with complexity, distract the eye, Thermomask
        .description
          %ul 
            Formal: 
            %li Mask (thermo)
            %li Revealing form
            %li Revealing ornamentation

          %ul 
            Interaction:
            %li Hidden words or art being revealed over time.
            %li Hidden effects (shadows or text effects) being revealed over time
    .card
      .image
        %img{src: "/guide/motifs/reveal.jpg"}
      .content
        .header Biomimicry
        .meta
          %a Hide with complexity, distract the eye, Thermowash
        .description
          %ul 
            Formal: 
            %li Seasonal-changes
            %li Camouflage
          %ul 
            Interaction:
            %li Virus-type spreading triggered by human interaction
      

  
    .card
      .image
        %img{src: "/guide/motifs/reveal.jpg"}
      .content
        .header Spatialized Timeforms
        .meta
          %a Thermofigure
        .description
          %ul 
            Formal: 
            %li States are shapes or color
          %ul 
            Interaction:
            %li Cell animation

  



