:coffeescript
  $ ->
    $("#video-record-start").click ()->
      console.log "START"
      guide.send
        to: "ipevo"
        service: "video_record_start"
      playSound(window.take_picture)
    $("#video-record-stop").click ()->
      guide.send
        to: "ipevo"
        service: "video_record_stop"
      # playSound("Air-Pop")
.ui.bottom.attached.tab.segment{"data-tab" => "video"}
  %h1.ui.header Video
  #video-gallery
    %video.template{:height => "250px", :autoplay => "", :loop => false, :muted => "muted", controls: true}       
      %source{:src => "", :type => "video/mp4"}
      Your browser does not support HTML5 video tag.
  #controls
    %button#video-record-start.button.ui.red
      %i.record
      START
    %button#video-record-stop.button.ui
      %i.stop
      STOP

:css
  .template{
    display: none;
  }