.ui.grid.stackable.divided
  .row
    %h2.ui.header Active Projects
  .eight.wide.column
    %h3.ui.header Hybrid Atelier
    %address
      %strong Cesar Torres
      %br/
      cearto@berkeley.edu
      %br/
    %address
      %strong Advaita Patel, Alejandro Garcia Salas
      %br/
    %address
      %strong Eric Paulos
      %br/
      paulos@berkeley.edu
      %br/
      %br/
    %h3.ui.header Crafting Heat
    %address
      %strong Cesar Torres
      %br/
      cearto@berkeley.edu
      %br/
    %address
      %strong Advaita Patel
      %br/
    %address
      %strong Eric Paulos
      %br/
      paulos@berkeley.edu
      %br/
      %br/
  .eight.wide.column
    %h3.ui.header Sensing Practice
    %address
      %strong Cesar Torres
      %br/
      cearto@berkeley.edu
      %br/
    %address
      %strong Matthew Joerke, Emily Hill, Tina Taleb
      %br/
    %address
      %strong Eric Paulos
      %br/
      paulos@berkeley.edu
      %br/
      %br/
